body
{
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

.fighters
{
	text-align: center;
}

.fighters img
{
	width: 100%;
	height: auto;
}

.fighters p
{
	margin-bottom: 30px;
}

.fighters figcaption
{
	margin-top: 8px;
}
#fighter
{

	color: #1d2124;
}

.navbar-nav li:hover>.dropdown-menu
{
	display: block;
}

.bg-fighters
{
	background-color: #a2b44c !important;
}


